
@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

/* Couleurs */

:root {
  font-family: 'Rubik', sans-serif;
    --couleur-principale: #488a46; 
    --couleur-secondaire1: #3B5998;
  }
  

  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--couleur-principale);
    color: white;
    padding: 1rem;
    position: relative; 
    z-index: 2; 
  }
  
  .menu-toggle {
    font-size: 2rem;
    cursor: pointer;
    display: none;
  }
  
  

  .menu {
    font-size: x-large;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  
  .menu-links {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }
  
  .menu a {
    color: white;
    text-decoration: none;
    margin: 0 1rem;
  }
  .menu-links a:hover {
    color: var(--couleur-secondaire1);
  }
   
 
  @media screen and (max-width: 480px) {
    .menu-links {
      display: none;
      flex-direction: column;
      align-items: center;
      background-color: var(--couleur-principale);
      position: absolute;
      top: 8rem;
      left: 0;
      width: 100%;
      padding: 1rem 0;
    }
  
    .menu a {
      margin: 0.5rem;
    }
  
    .menu-toggle {
      display: block;
    }
  
  
    .menu-links.active {
      display: flex;
    }
  }





/*A propos*/

  .section-apropos {
    position: relative;
  }
  
  .section-apropos .overlay {
    position: relative;
    height: 90vh;
    width: 100%;
    overflow: hidden;
  }
  
  .section-apropos .overlay img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .section-apropos .overlay:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.3);
  }
  
  .section-apropos .overlay-text {
    position: absolute;
    top: 40%;
    left: 40%;
    transform: translate(-50%, -50%);
    text-align: left;
    color: white;
    max-width: 80%;
    font-size: x-large;
  }
  
  .section-apropos .overlay-text h2 {
    font-size: 4rem;
    margin-bottom: 2rem;
  }
  
  @media (max-width: 480px) {
    .section-apropos .overlay {
      height: 70vh;
    }
    
    .section-apropos .overlay-text {
      max-width: 90%;
    }
  }
  





/* Services */

.section-services h2{
  color: #3B5998;
  font-size: 46px;
}

.section-services {
  margin-top: 10px;
  margin-bottom: 100px;
  margin-left: 100px;
  margin-right: 100px;
  background-color: #fff;
  padding: 4rem 0;
  text-align: center;
}

.services-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 2rem;
}

.service {
  text-align: center;
}

.service img {
  width: 100%;
  height: auto;
  border-radius: 10px;
  margin-bottom: 1rem;
}

.service h3 {
  color: var(--couleur-principale);
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.service p {
  color: var(--couleur-secondaire1);
  font-size: 1.2rem;
}

@media (max-width: 480px) {
  .section-services {
    margin-left: 20px;
    margin-right: 20px;
  }
  
  .services-grid {
    justify-items: center;
  }
  
  .service {
    text-align: center;
  }
}

 


/* Portfolio */
#portfolio {
  margin-top: 100px;
}

#portfolio h2 {
  color: var(--couleur-secondaire1);
  text-align: center;
  font-size: 46px;
}

.gallery {
  margin: 100px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 400px);
  gap: 20px;
}

.gallery img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease-in-out;
  cursor: pointer;
  border-radius: 15px;
}

.gallery img:hover {
  transform: scale(1.1);
  z-index: 1;
}

@media (max-width: 480px) {
  .gallery {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(4, auto);
    margin: 50px;
  }

  .gallery img {
    border-radius: 15px;
    height: 100%;
  }
}

/*contact*/
  #contact-wrapper {
    color: var(--color1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    padding: 50px;
  }
  
  .map-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 1200px;
    width: 100%;
  }
  
  .info-wrapper {
    color: #3B5998;
    flex-basis: 45%;
    max-width: 500px;
    width: 100%;
  }
  
  .info-wrapper h2 {
    font-size: 46px;
    margin-bottom: 20px;
  }
  
  .info-wrapper p {
    font-size: 28px;
    margin-bottom: 20px;
  }
  
  .info-wrapper ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  .info-wrapper li {
    font-size: 16px;
    margin-bottom: 10px;
  }
  
  .info-wrapper i {
    margin-right: 10px;
  
  }
  
  .map-frame {
    flex-basis: 45%;
    max-width: 600px;
    width: 100%;
  }
  
  .map-frame iframe {
    width: 100%;
    height: 450px;
  }
  
  @media only screen and (max-width: 480px) {
    .map-wrapper {
      flex-direction: column;
    }
  
    .info-wrapper, .map-frame {
      flex-basis: 100%;
      max-width: 100%;
    }
  
    .map-frame {
      margin-top: 50px;
    }
  }
  


  
/* Style pour le footer */
.footer {
  background-color: var(--couleur-principale);
  color: fff;
  font-size: 18px;
  padding: 50px 0px;
  text-align: center;
  position: relative;
}


.footer .row {
  
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 10px 0px;
  color: #fff;
  font-size: large;
}

.footer .row a {
  text-decoration: none;
  color: #fff;
  transition: 0.5s;
  margin: 0px 20px;
}

.footer .row a:hover {
  color: var(--couleur-secondaire1);
}

.footer .row ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  margin: 0px;
  padding: 0px;
}s

.footer .row ul li {
  margin: 10px;
  list-style: none;
}

.footer .row a i {
  font-size: large;
  margin: 0% 1%;
}

.footer p {
  margin-top: 20px;
  color: #fff;
  font-size: small;
}

@media (max-width: 480px) {
  .footer .row {
    flex-direction: column;
  }
  .footer .row ul {
    margin-top: 20px;
  }
  .footer .row ul li {
    margin: 0px;
  }
}

/* Facebook */
.fa-facebook {
  background: white;
  color: var(--couleur-secondaire1);
}

/* Twitter */
.fa-envelope {
  background: white;
  color: var(--couleur-secondaire1);
}

.fa {
  padding: 20px;
  font-size: 120px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  border-radius: 100%;
}
